.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus{
    background:linear-gradient(to right, #19d3ae, #00d3c1, #00d2d2, #00d1e1, #0fcfec);
}
.react-calendar__tile--active{
    background:linear-gradient(to right, #19d3ae, #00d3c1, #00d2d2, #00d1e1, #0fcfec);
    border-radius: 10px;
}
.react-calendar{
    border:0px;
}